---
layout: default
---

<div class="ille-page-header">
  <div class="ille-page-header-inner">
    <p class="ille-page-eyebrow">ILLE Paris</p>
    <h1 class="ille-page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
    {% if page.description %}<p class="ille-page-desc">{{ page.description }}</p>{% endif %}
  </div>
</div>

<div class="ille-page-layout">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
        {{ content }}
      </div>
    </div>
  </div>
</div>

{% if site.page-mathjax %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: { equationNumbers: { autoNumber: "AMS" } },
    tex2jax: { inlineMath: [['$','$']], displayMath: [['$$','$$']], processEscapes: true }
  });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
