---
layout: default
---

<header class="ille-post-header">
  <div class="ille-post-header-inner">
    {% if page.tags.size > 0 %}
    <div class="ille-post-tags">
      {% for tag in page.tags %}
      <a class="ille-post-tag" href="{{ site.baseurl }}/archive/?tag={{ tag | url_encode }}">{{ tag }}</a>
      {% endfor %}
    </div>
    {% endif %}
    <h1 class="ille-post-h1">{{ page.title }}</h1>
    {% if page.subtitle %}<p class="ille-post-h2">{{ page.subtitle }}</p>{% endif %}
    <p class="ille-post-meta">
      By {% if page.author %}{{ page.author }}{% else %}ILLE Paris{% endif %}
      &nbsp;&middot;&nbsp;
      {{ page.date | date: "%B %-d, %Y" }}
    </p>
  </div>
</header>

<article class="ille-post-layout">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">

        {% if page.multilingual %}{% include multilingual-sel.html %}{% endif %}

        {{ content }}

        <ul class="pager">
          {% if page.previous.url %}
          <li class="previous">
            <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}">&larr; {{ page.previous.title }}</a>
          </li>
          {% endif %}
          {% if page.next.url %}
          <li class="next">
            <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">{{ page.next.title }} &rarr;</a>
          </li>
          {% endif %}
        </ul>

      </div>
    </div>
  </div>
</article>

{% if page.mathjax %}{% include mathjax_support.html %}{% endif %}
